{
  "presets": [
    "@babel/preset-typescript",
    [
      "@emotion/babel-preset-css-prop",
      {
        "labelFormat": "[filename]--[local]"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@emotion/babel-preset-css-prop"
      ]
    }
  }
}
