{
  "extends": ["react-app", "plugin:testing-library/react"],
  "plugins": ["prettier", "testing-library", "@emotion"],
  "rules": {
    "prettier/prettier": "error",
    "@emotion/jsx-import": "error",
    "@emotion/no-vanilla": "error",
    "@emotion/pkg-renaming": "error",
    "@emotion/styled-import": "error",
    "@emotion/import-from-emotion": "error"
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}
